# Temporary files and vtk files
*~
*.vts
*.vtu
*.pvd
*.aux
*.bbl
*.blg
*.log
*.out
*.swp
*.txt
*.asv
*.fig
topopt/Legacy/mbbeam_mma.m
topopt/Legacy/mbbeam.m
topopt/Legacy/forceinverter_mma.m
topopt/Legacy/forceinverter.m
topopt/Legacy/areatopoint_mma.m
topopt/Legacy/areatopoint.m
*.rar
*.xls
*.pdf
*.xlsx
*.mat
*.mat
*.mat
